* { box-sizing: border-box; }

html {
    font-size: 14px;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: hsl(0, 0%, 100%);
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ==================
    Typography
===================== */

h1,
h2,
h3,
h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.intro-title {
    font-size: 1.8rem;
    margin: 0 auto 1em;
}

.info-title {
    font-size: 1.6rem;
}

.feature-title {
    font-size: 1.4rem;
}

.accent-link {
    color: hsl(176, 68%, 64%);
}

.profile-name {
    font-size: 0.9rem;
    margin-bottom: 0;
}

.small-text {
    font-size: 0.8rem;
    margin: 0;
}

.attribution { font-size: 12px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* buttons */

.btn {
    padding: 1em 3em;
    cursor: pointer;
}

.btn-primary {
    margin-top: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    background: hsl(176, 68%, 64%);
    background: linear-gradient(135deg, hsl(176, 68%, 64%) 0%, hsl(198, 60%, 50%) 100%);
}

.btn-primary:hover,
.btn-primary:focus {
    color: hsl(216, 53%, 9%);
}

/* ==================
    General layout
===================== */

/* navigation */

.nav-link {
    color: hsl(0, 0%, 100%);
}

.header,
.intro {
    background: hsl(217, 28%, 15%);
}

.intro {
    background-image: url('images/bg-curvy-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

main {
    background: hsl(218, 28%, 13%);
}

.testimonial {
    background: hsl(219, 30%, 18%);
}

.footer {
    background: hsl(216, 53%, 9%);
}

/* ==================
    Form
===================== */

input {
    margin-bottom: 0.5em;
    font-family: inherit;  
}

input,
.btn-form {
    width: 300px;
    padding: 1em 2em;
    border: 0;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.btn-form {
    color: hsl(0, 0%, 100%);
}